:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 80px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  color: currentColor;
}

a,
button {
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/*------------------BUTTON------------------*/

.btn {
  background-color: var(--accent-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  height: 50px;
  padding: 10px auto;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
}

.filter-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  background: #f5f4fa;
  display: block;
  border-radius: 4px;
  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*------------------HEADER------------------*/

.site-nav li:not(:last-child) {
  margin-right: 50px;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .link {
  margin-left: 50px;
}

.site-nav {
  display: flex;
}

.site-nav-item {
  position: relative;
}

.site-nav .link,
.auth-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.svg-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link {
  color: var(--title-text-color);
}
.auth-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.current::before {
  content: '';
  position: absolute;
  bottom: -28px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
}
.auth-nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link:hover,
.address .link:focus,
.site-nav .link:hover,
.auth-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/*------------------LOGO------------------*/

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  margin-right: 93px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer .logo:focus,
footer .logo:hover {
  color: var(--secondary-text-color);
}
footer .logo::after {
  content: 'Studio';
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer .logo:focus::after,
footer .logo:hover::after {
  color: var(--accent-color);
}

header .logo::after {
  content: 'Studio';
  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
header .logo:focus,
header .logo:hover {
  color: var(--title-text-color);
}

header .logo:focus::after,
header .logo:hover::after {
  color: var(--accent-color);
}

/*------------------HERO------------------*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-img.jpg);
  height: 600px;
  width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  max-width: 696px;
  margin: 0 auto 30px;
}

/*------------------SPECIALITY------------------*/

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--title-text-color);
}

.section-speciality {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  max-width: 270px;
  margin-bottom: 10px;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  max-width: 270px;
}

.speciality {
  display: flex;
  margin-right: -30px;
}

.speciality-items {
  width: calc(100% / 4- 30px);
  margin-right: 30px;
}

.speciality-items svg {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

/*------------------ABOUT------------------*/

.about {
  margin-bottom: 50px;
}
.section-about {
  padding-bottom: 94px;
}

.about-list {
  display: flex;
  margin-right: -30;
}

.about-item {
  width: calc(100% / 3- 30px);
  margin-right: 30px;
  position: relative;
}

.about-item-description {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*------------------OUR-TEAM------------------*/

.our-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.titel-team {
  margin-bottom: 50px;
}

.card-team {
  display: block;
  max-width: 270px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.card-team img {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.text-box {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 270px;
  background: var(--secondary-text-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.soc-team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
}

.soc-team-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.soc-team-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
}

.soc-team-svg {
  fill: currentColor;
}

.soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

/*------------------REGULAR-CLIENT------------------*/

.regular-client-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin-bottom: 50px;
}

.svg-clients {
  width: 170px;
  height: 92px;
  padding: 16px 32px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-client {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: -30px;
}

.regular-client-item {
  flex-basis: calc(100% / 6 - 30px);
  margin-right: 30px;
}

.regular-client-list {
  display: flex;
  justify-content: center;
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/*------------------PORTFOLIO------------------*/

.filter-btn-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-btn-item:not(:last-child) {
  margin-right: 8px;
}

.filter-item {
  display: flex;
  background: var(--secondary-text-color);
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.section-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.filter {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.project-filter {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  flex-basis: 322px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-filter a {
  display: block;
}

.card-filter a:focus,
.card-filter a:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-thumb {
  position: relative;
  overflow: hidden;
}

.filter-thumb::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  opacity: 0;
}

.card-filter a:focus .filter-thumb::before,
.card-filter a:focus .filtert-description,
.card-filter a:hover .filter-thumb::before,
.card-filter a:hover .filtert-description {
  opacity: 1;
  transform: translateY(0);
}

.filtert-description {
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

/*------------------FOOTER------------------*/

.footer {
  background-color: #2f303a;
  padding: 60px 0px;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  max-width: 231px;
  margin-top: 20px;
}
.address a {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.map {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  margin-bottom: 9px;
}

.footer .container {
  display: flex;
}

.join-list {
  display: flex;
  justify-content: center;
}

.join-box {
  align-items: center;
  justify-content: center;
  margin-left: 70px;
  margin-top: 12px;
}

.join-item {
  cursor: pointer;
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.join-item:first-child {
  margin-left: 0;
}

.join-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

.footer-soc {
  display: flex;
  fill: var(--secondary-text-color);
  width: 20px;
  height: 20px;
}

.join-titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer-email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.footer-email {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 16px 15px;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-left: 93px;
}

.footer-form {
  display: flex;
}

.btn-footer {
  padding: 10px 28px;
  display: flex;
  align-items: center;
}

.submit-svg {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
}

.btn-subscribe {
  position: relative;
  width: 200px;
  height: 50px;
  margin-top: 48px;
  margin-left: 12px;
}

/*------------------MODAL------------------*/

.bacdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms linear;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.bacdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-titel {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 12px;

  color: #212121;
}

.input-wrap {
  position: relative;
  display: block;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input {
  display: block;
  background-color: transparent;

  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
  padding: 12px 12px 12px 35px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: #212121;
}

.modal-text-area {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input:hover,
.modal-text-area:hover,
.modal-text-area:focus,
.modal-input:focus {
  outline: 1px solid var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
}

.check-text a {
  color: var(--accent-color);
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.input-check:checked + .check-text .check-svg {
  fill: #ffffff;
}

.check-svg {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
